/* ############################## CALENDAR ############################## */


.calendar_buttons button {
    margin: 0 1vw 0 0 ;
}

.calendar_buttons label {
    size: 20;
}

.calendar_box {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.color_box {
    width: inherit;
}


.color_box h3{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
    color: #8BE3FD;
}

.rbc-calendar {
}

.rbc-month-view {
    height: 50vh!important;
}

.rbc-agenda-view {
    height: 100px!important;
}

.rbc-btn-group:last-child button:last-child {
    display: none;
}

.round_button {
    color:#f5f5f5;
}

.round_button svg{
    position: fixed;
    bottom: 48px;
    right: 60px;
    border: rgb(201, 201, 201) solid 2px;
    background-color: #d32f2f;
    width:4vw;
    height:4vw;
    border-radius: 50%;
    padding: 1vw;
    z-index: 999;

}

.round_button svg:hover{
    cursor: pointer;
}


.modal_add_event {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.modal_add_event input{
    margin:  3px 0;
}

.date_pickers {
    display: flex;
    flex-direction: row;
}

.react-datepicker {
    display: inline;
    width: 317px;
}

.react-datepicker__time-list {
    padding: 0;
}

.react-datepicker__month-container {
    
}